# Core API framework
fastapi
uvicorn[standard]

# Database & ORM
sqlalchemy[asyncio]
asyncpg

# Caching
redis

# Vector DB
qdrant-client

# Embeddings
sentence-transformers

# LLM
groq

# File handling
python-multipart
pypdf


# Email validation for Pydantic/FastAPI
email-validator

# Environment management
python-dotenv